.container
    {
      margin:1%;
      padding:1%;
      max-width:95%;
      font-size: 1.2em;
    }
    .container p
    {
      font-size: 1em;

    }
    .email-holder
    {
      color:#4691f6;
      padding-left: 10px;
line-height:1.5;
    }